ol {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

ol[start="2"] {
  counter-reset: item 1;
}

ol[start="3"] {
  counter-reset: item 2;
}

ol[start="4"] {
  counter-reset: item 3;
}

ol > li {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;
}

ol > li:before {
  content: counters(item, ".") ". ";
  display: table-cell;
  padding-right: 0.6em;
}

li ol > li {
  margin: 0;
}

li ol > li:before {
  content: counters(item, ".") " ";
}

ol.statutes > li:before {
  font-size: 1.5em;
  font-weight: normal;
}

ol.statutes > li > h2 {
  margin: 0;
  border-bottom: 1px solid #ccc;
}
