[%- wrap = false -%]
[%- USE date -%]
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>SeaMonkey Project News</title>
<id>http://www.seamonkey-project.org/news-atom</id>
<link rel="self" href="http://www.seamonkey-project.org/news-atom" />
<link href="http://www.seamonkey-project.org/news" />
<author><name>The SeaMonkey Project</name></author>
[%- USE newsxml = file('src/news.en.xml') %]
<updated>[% date.format(newsxml.mtime, '%Y-%m-%dT%TZ', gmt => 1) %]</updated>

[% USE newsfeed = XML::Simple(
       'news.en.xml'
       ForceArray = ['entry']
       KeyAttr = ['']
   )
%]

[% INCLUDE nfeed;
   BLOCK nfeed;
     FOREACH nentry IN newsfeed.entry;
       "<entry>\n";
       "<id>http://www.seamonkey-project.org/news#$nentry.id</id>\n";
       "<link href=\"http://www.seamonkey-project.org/news#$nentry.id\" />\n";
       IF nentry.updated;
         "<updated>$nentry.updated</updated>\n";
       ELSE;
         "<updated>${nentry.id}T12:00:00Z</updated>\n";
       END;
       "<title>$nentry.headline</title>\n";

       "<content type=\"$nentry.content.type\" xml:lang=\"en\" xml:base=\"http://www.seamonkey-project.org/\"><![CDATA[";
       IF nentry.subline;
         "\n<p><strong>$nentry.subline</strong></p>";
       END;
       "$nentry.content.content]]></content>\n";
       "</entry>\n";
     END;
   END;
%]

</feed>
